body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

header {
  background: #1fa463;
  color: #fff;
  padding: 15px;
  text-align: center;
}

#promo {
  background: #fff3cd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

#menu {
  padding: 10px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #1fa463;
  color: #fff;
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}

#cart {
  background: #fff;
  padding: 10px;
  position: sticky;
  bottom: 0;
}